body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
/* Styling the 2 big containers */
.body-container {
  width: 100%;
}
.sub-body-container {
  background-color: white;
}
/* Styling for the header */
.navbar {
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 5px 20px;
}
.navbar-left img {
  width: 38px;
}
.navbar li {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 4px;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.navbar-right {
  display: flex;
  list-style-type: none;
  font-weight: 500;
}
i {
  width: 50px;
}
/* Styling of the Hamburger icon with responsiveness */
.hamburger-sidebar {
  display: none;
}
.hamburg-container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #742C2C;
  margin: 6px 0px;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* Completed styling for Hamburger icon with responsiveness added into it */
/*The end of the styling for the header with Navbar. */
/* Rules to make images easier to work with */
img {
  max-width: 100%;
  display: block;
} 
/* Styling for Mega Giant container */
.mega-giant-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* This marks the styling for the Sidebar. */
.sidebar_menu {
  font-family: 'Mate', serif;
  font-weight: 400;
  list-style: none;
  width: 20%;
}
.sidebar_menu li {
  padding: 6px 8px;
}
.sidebar_menu li a {
  text-decoration: none;
  color: black;
}
/* End of Sidebar menu end styling. */
/* Styling for Giant Container */
.giant-container, .about-us {
  padding: 5px;
  width: 100%;
  margin-top: 0px;
}
/* styling for the grid components for the About Us page. */
.our-mission, .our-why {
  padding-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.our-why {
  margin-top: .80rem;
}
.about_title {
  font-family: 'Imbue', serif;
  display: flex;
  font-size: 1.05rem;
  font-weight: 100;
  font-style: normal;
  line-height: 1;
  color: black;
}
.about_content {
  align-self: flex-start;
  margin-top: .8rem;
}
.librarian {
  margin-top: 5px;
} 
.librarian-img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}
.about_description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  /* .sidebar {
    display: flex;
    flex-direction: column;
  } */
  /* .hamburger-sidebar {
    display: block;
    margin-right: 5px;
  } */
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar{
    height: 25px;
    left: 0px;
  }
  .navbar-left img {
    width: 55px;
    height: 55px;
    left: 40px;
    top: 15px;
    padding-left: 20px;
  }
  .mega-giant-container {
    padding: 5px;
  }
  .sidebar_menu {
    width: 15%;
  }
  .giant-container {
    display: flex;
    width: 100%;
    padding: 0px;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 5px;
  }
  .about-peadmount, .our-mission, .our-why, .librarian {
    border: 5px;
  }
  .our-mission {
    margin-top: 0px;
  } 
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar{
    height: 25px;
    left: 0px;
  }
  .navbar-left img {
    width: 55px;
    height: 55px;
    left: 40px;
    top: 15px;
    padding-left: 20px;
  }
  .searchbar {
    display: flex;
    justify-content: flex-end;
    font-size: medium;
  }
  .sidebar_menu {
    width: 15%;
  }
  .giant-container {
    display: flex;
    width: 100%;
    padding: 15px;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: auto;
    gap: 5px;
  }
  .about-peadmount, .our-mission, .our-why, .librarian {
    border: 5px;
  }
  .our-mission {
    margin-top: 0px;
  } 
}