body {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
/* Styling the 2 big containers */
.body-container {
  width: 100%;
}
.sub-body-container {
  background-color: white;
}
/* Styling for the header */
.navbar {
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 5px 20px;
}
.navbar-left img {
  width: 38px;
}
.navbar li {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 4px;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.navbar-right {
  display: flex;
  list-style-type: none;
  font-weight: 500;
}
i {
  width: 50px;
}
/* Styling of the Hamburger icon with responsiveness */
.hamburger-sidebar {
  display: none;
}
.hamburg-container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #742C2C;
  margin: 6px 0px;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* Completed styling for Hamburger icon with responsiveness added into it */
/*The end of the styling for the header with Navbar. */
/* Stlying for search bar */
.searchbar {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px 5px;
}
.searchbar h4 {
  color: black;
  font-weight: 400;
}
input[type=text], select {
  width: 100%;
  box-sizing: border-box;
  background-color: lightgray;
  padding: 5px;
  outline: none;
  border: #8888881c;
  border-radius: 3px;
  margin: 2px;
}
/* The end of styling for the Searchbar. */
/* Rules to make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* This marks the styling for the Sidebar. */
.sidebar_menu {
  font-family: 'Mate', serif;
  font-weight: 400;
  list-style: none;
  width: 20%;
}
.sidebar_menu li {
  padding: 6px 8px;
}
.sidebar_menu li a {
  text-decoration: none;
  color: black;
}
/* End of Sidebar menu end styling. */
/* Start of styling for Middle Section */
.middle-section {
  padding: 10px;
}
.checkout {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
/* Styling for the Profile Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding-left: 70px;
}
.profile-img {
  text-align: center;
  height: 220px;
  width: 220px;
}
.profile a {
  color: #2477D9; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-small;
}
.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 30px;
}
/* Come back to Profile container */
/* Styling for the Favourites Container. */
.favourites-container h2 {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  padding-top: 30px;
}
.favourites-grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 10px;
  padding: 15px 0px 10px 10px;
}
.favourites_img {
  width: 180px;
  height: 220px;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: green;
  color: white;
  text-decoration: none;
  width: 85px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}
/* Styling for Recent returns */
.returns-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.returns-container h2 {
  font-family: 'Mate', serif;  
}
.returns-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
}
.returns {
  border: 8px solid white;
}
.returns_img {
   width: 100%;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  /* .sidebar {
    display: flex;
    flex-direction: column;
  } */

  /* .hamburger-sidebar {
    display: block;
    margin-right: 5px;
  } */
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar{
    height: 25px;
  }
  .navbar-left img {
    width: 55px;
    height: 55px;
    padding-left: 20px;
  }
  .navbar-right {
    font-weight: 500;
  }
  .searchbar {
    display: flex;
    justify-content: flex-end;
    font-size: medium;
  }
  .sidebar_menu {
    width: 25%;
    padding: 10px;
  }
  .middle-section {
    width: 100%;
  }
  .favourites-container {
    width: 45%;
  }
  .returns_img {
    width: 150px;
    height: 180px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .sidebar_menu {
    width: 25%;
  } */
}