@media screen and (max-width: 1000px) {
  img {
    width: 100%;
  }

  .searchbar {
    display: none;
  }
}

body {
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
}

/* Styling the 2 big containers */

.body-container {
  width: 100%;
  min-width: 330px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: green;
  /* Remove background colour later */
}

.sub-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgreen;
  /* Remove background colour later */
}

/* Styling for the header */

.navbar {
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #D9D9D9;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 30px;
  /* padding: 5px 0px; */
}

.navbar-left img {
  max-width: 60px;
  max-height: 60px;
  min-width: 40px;
  min-height: 40px;
  left: 40px;
  top: 15px;
  padding-left: 20px;
}

.navbar li {
  font-weight: 500;
  text-decoration: none;
  padding: 1px 1px;
  list-style: none;
  margin: 5px 9px;
  float: left;
}

.navbar li a {
  text-decoration: none;
  padding: 1px 1px;
  color: black;
}

.navbar-right {
  display: flex;
  font-weight: 500;
}

.navbar-right a {
  display: flex;
  font-weight: 500;
  padding: 1px 1px;
  margin: 5px 9px;
}

i {
  width: 50px;
  display: flex;
  align-self: center;
  color: black;
}

/* Styling of the Hamburger icon with responsiveness */

.hamburg-navbar-right {
  display: none;
}

.hamburg-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #742C2C;
  margin: 6px 0px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width: 550px) {
  .navbar-right {
    display: none;
  }

  .hamburg-navbar-right {
    display: block;
    margin-right: 20px;
  }
}

/* Completed styling for Hamburger icon with responsiveness added into it */

/*The end of the styling for the header with Navbar. */

/* Stlying for search bar */

.searchbar {
  font-family: 'Inter', sans-serif;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: small;
  padding: 8px 10px;
  width: calc(100% - 20px);
  /* right: 60px; */
}

.searchbar li {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}

.inputfield-text{
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  border: #8888881c;
  border-radius: 3px;
}

input[type=text] {
  width: 90%;
  box-sizing: border-box;
  background-color: lightgray;
}

select {
  width: 80%;
  box-sizing: border-box;
  background-color: lightgray;
}

@media screen and (max-width: 750px) {
  .searchbar li {
    display: none;
  }
}

/* The end of styling for the Searchbar. */

/* Rules to make images easier to work with */

img {
  max-width: 100%;
  display: block;
} 

/* styling for the Large Container */

.large-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  background-color: aqua;
  /* Change colour to white later on */
}

/* This marks the styling for the Sidebar. */

.sidebar_menu {
  font-family: 'Mate', serif;  
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 20%;
  position: sticky;
  top: 0;
  background-color: darkorchid;
}

.sidebar_menu li {
  width: calc(100% - 20px);
  background-color: darkmagenta;
  /* Change background colour later */
  padding: 6px;
  margin-bottom: 2px;
}

.sidebar_menu li a {
  text-decoration: none;
  color: black;
}

/* End of Sidebar menu end styling. */

/* Start of Everything Container */

.everything-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background-color: burlywood;
}

.title {
  font-family: 'Mate', serif;  
  font-size: 35px;
  padding-bottom: 5px;
}

.left-intro-content {
  display: flex;
  margin-bottom: 20px;
}

.left-program {
  background-image: url("/Assets/Socials.jpg");
  border-radius: 42px;
}

.container-item {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container-item button  */

.right-students {
  background-image: url("/Assets/StackedBooks.png");
}

.right-kids {
  background-image: url("/Assets/KidsCircle.png");
}

.intro-button {
  display: inline-block;
  border: 1px solid rgba(12, 48, 64, 0.22);
  border-radius: 10px;
  background: #742C2C;
  color: white;
  width: 320px;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-size: xx-large;
  text-shadow: floralwhite;
}

/* End of Everything Container */