body {
    height: 100%;
  }
  
  * {
      padding: 0;
      margin: 0;
  }
  
  /* Styling for the header */
  
  .navbar {
    font-family: 'Inter', sans-serif;
    background-color: lightgray;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    left: 0px;
    margin-top: 30px;
  }
  
  .navbar-left img {
    width: 80px;
    height: 80px;
    left: 40px;
    top: 15px;
    padding-left: 20px;
  }
  
  .navbar li {
    font-weight: 500;
    text-decoration: none;
    padding: 1px 1px;
    list-style: none;
    margin: 5px 9px;
    float: left;
  }
  
  /* .navbar ul {} */
  
  .navbar li a {
    text-decoration: none;
    padding: 1px 1px;
    color: black;
  }
  
  .navbar-right {
    display: flex;
    font-weight: 500;
  }
  
  .navbar-right a {
    display: flex;
    font-weight: 500;
    padding: 1px 1px;
    margin: 5px 9px;
  }
  
  i {
    width: 50px;
    display: flex;
    align-self: center;
    color: black;
  }
  
  /*The end of the styling for the header with Navbar. */
  
  /* Stlying for search bar */
  
  .searchbar {
    font-family: 'Inter', sans-serif;
    top: 20px;
    position: relative;
    /* will need to try position absolute*/
    display: flex;
    justify-content: flex-end;
    font-size: small;
    right: 60px;
    gap: 10px;
  }
  
  .searchbar li {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: medium;
    font-weight: 700;
  }
  
  /* May not need this one 
  input {
      width: 35%;
  }
  */
  
  input[type=text] {
      width: 90%;
      box-sizing: border-box;
      background-color: lightgray;
  }
  
  select {
      width: 80%;
      box-sizing: border-box;
      background-color: lightgray;
  }
  
  /* The end of styling for the Searchbar. */
  
  /* Rules to make images easier to work with */
  
  img {
    max-width: 100%;
    display: block;
  } 

  .gigantic-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 60px 35px;  
  }

  /* This marks the styling for the Sidebar. */

.sidebar_menu {
    font-family: 'Mate', serif;  
    font-weight: 400;
    /* line-height: 25px; */
    list-style: none;
  }
  
  .sidebar_menu li a {
    text-decoration: none;
    color: black;
  }
  
  /* End of Sidebar menu end styling. */

  /* Styling for Major Container */

  .major-container {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    width: 80%;
    padding: 20px;
    gap: 10px;
  }

  .single-book

  .single-img {
    height: 400px;
  }

.rating {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 10px;
}

  .rating i {
    color: yellow;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: green;
    color: white;
    text-decoration: none;
    width: 85px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
  }

  .book-info {
    /* display: flex; */
  }

  .primary-info {
    /* width: 30%; */
    font-family: 'Mandali', sans-serif;
    display: flex;
    justify-content: space-between;
  }

.characterization

.single-title {
  font-family: 'Merriweather', serif;
}

.singles-content {
  font-family: 'Tienne', serif;
}

.reviews-name a {
  text-decoration: none;
}

  